/*
1. update page responsiveness.
2. you are allowed to add as many more classes as you prefer.
3. sample classes may be altered as well.
*/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
div#root {
  display: flex;
  flex-grow: 1;
}

.home {
}
.search-form {
}
.search-input {
}
.search-button {
}
.tweet-list {
}

.tweet {
}
.tweet-header {
}
.tweet-content {
}
.tweet-button {
}
